factorydata/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "SetPar",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EsPar",
					"value": {
						"value": "@equals(mod(pipeline().parameters.Numero,2),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetPar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('EsPar')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Mensaje",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "resultado",
								"value": {
									"value": "El numero  @{pipeline().parameters.Numero} es Par ",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Numero": {
				"type": "int"
			}
		},
		"variables": {
			"EsPar": {
				"type": "Boolean"
			},
			"resultado": {
				"type": "String"
			}
		},
		"annotations": []
	}
}